@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
  --laranja-claro: #ff862A; /*Define uma variavel CSS para cor laranja*/
}

body{
    font-size: 16px; /*definir o tamanho da fonte base*/
    font-family: 'Montserrat' ; /*define o tamanho da fonte principal do site*/
}